@model ADPProject.Models.ProjectModels
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project</h2>
<link rel="Stylesheet" href="../../Scripts/jtable/themes/lightcolor/gray/jtable.css"
      type="text/css" />
@section ScriptSection {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/setDatePicker.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#TableContainer').jtable({
                title: 'ADP Project',
                paging: true,
                pageSize: 5,
                sorting: true,
                defaultSorting: 'Nama ASC',
                messages: {
                    //serverCommunicationError: 'salah koneksi',
                    //noDataAvailable: 'Tidak ada data ditemukan!',
                    pagingInfo: 'Menampilkan <b>{0}</b> - <b>{1}</b> dari <b>{2}</b> data'
                },
                actions: {
                    listAction: '/Master/GetProject',
                    updateAction: '/Master/EditProject',
                    deleteAction: '/Master/DeleteProject'
                },
                fields: {
                    Id: {
                        key: true,
                        title: 'ID',
                        list: false
                    },
                    Nama: {
                        title: 'Nama',
                        width: '10%',
                        edit: true
                    },
                    Kota: {
                        title: 'Kota',
                        width: '10%',
                        edit: true
                    },
                    Alamat: {
                        title: 'Alamat',
                        width: '10%',
                        edit: true
                    },
                    StartDate: {
                        title: 'Start Date',
                        width: '10%',
                        edit: true
                    },
                    NoKontrak: {
                        title: 'No Kontrak',
                        width: '10%',
                        edit: true
                    },
                    NoSpk: {
                        title: 'No SPK',
                        width: '10%',
                        edit: true
                    },
                    TelpSpk: {
                        title: 'Telp',
                        width: '10%',
                        edit: true
                    },
                }
            });

            $('#TableContainer').jtable('load');
        })
    </script>
}
<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Master</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-left">
            <li>
                <i class="fa fa-home"></i>&nbsp;@Html.ActionLink("Master", "Index", "Home")&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="hidden">
                <a href="#">Master</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">Project</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
    <div class="page-content">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Register User</legend>
                <div class="editor-label width120">
                    @Html.LabelFor(model => model.Nama)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Nama)
                    @Html.ValidationMessageFor(model => model.Nama)
                </div>
                <div class="clear"></div>
                <div class="editor-label width120">
                    @Html.LabelFor(model => model.Kota)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Kota)
                    @Html.ValidationMessageFor(model => model.Kota)
                </div>
                <div class="clear"></div>
                <div class="editor-label width120">
                    @Html.LabelFor(model => model.Alamat)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Alamat)
                    @Html.ValidationMessageFor(model => model.Alamat)
                </div>
                <div class="clear"></div>
                <div class="editor-label width120">
                    @Html.LabelFor(model => model.StartDate)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.StartDate)
                </div>
                <div class="clear"></div>
                <div class="editor-label width120">
                    @Html.LabelFor(model => model.NoKontrak)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.NoKontrak)
                </div>
                <div class="clear"></div>
                <div class="editor-label width120">
                    @Html.LabelFor(model => model.NoSpk)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.NoSpk)
                </div>
                <div class="clear"></div>
                <div class="editor-label width120">
                    @Html.LabelFor(model => model.TelpSpk)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TelpSpk)
                </div>
                <div class="clear"></div>
                <p>
                    <input type="submit" value="Simpan" />
                </p>
            </fieldset>
            <fieldset>
                <div id="TableContainer" width="100%">
                </div>
            </fieldset>
        }
    </div>
</div>

